:root {
  --darkCol: #020402;
  --whiteCol: #F1E9DB;
  --primaryCol: #5DB7DE;
  --orangeredCol: #FE5F55;
  --seagreenCol: #388659;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 3rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: var(--darkCol);
  color: var(--whiteCol);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.brand a {
  color: var(--whiteCol);
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.brand a:hover {
  color: var(--orangeredCol);
}

.header-links a {
  color: var(--whiteCol);
  margin-left: 4rem;
  text-decoration: none;
}

.header-links a:hover {
  color: var(--primaryCol)
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: var(--darkCol);
  color: var(--whiteCol);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-style: italic;
}

/* home screen */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
  list-style-type: none;
  padding: 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* .product:hover {
  background-color: var(--primaryCol);
} */

.product:hover > .product-album > a {
  color: var(--darkCol);
}

.product-album {
  font-size: 2rem;
  font-weight: bold;
}

.product-artist {
  font-size: 1.2rem;
}

.product-price {
  font-size: 2.5rem;
  font-weight: bold;
}

.product-image {
  max-width: 34rem;
  max-height: 34rem;
}

.product-rating {
  margin-bottom: .1rem;
}

/* sidebar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: var(--whiteCol);
  cursor: pointer;
  margin-right: 2rem;
}

.sidebar {
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: .1rem var(--darkCol) solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

/* product detail */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10rem;
}

.details-image {
  flex: 2 1 60rem;
  margin-bottom: 2rem;
}

.details-image img {
  min-width: 50rem;
  max-width: 50rem;
  margin: auto;
  display: block;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
  margin-bottom: 3rem;
}

.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: .5rem;
  cursor: pointer;
}

.button:hover {
  border: .1rem #404040 solid;
}

.button.primary {
  background-color: #f0c040;
}